# dotfiles
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
# ls
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
# docker-compose
alias dcu='docker-compose --compatibility up -d'
alias dcp='docker-compose pull'
alias dcd='docker-compose down --remove-orphans'
alias dcl='docker-compose logs -f --tail=50'
alias dcr='docker-compose restart'
alias dc='docker-compose'
